<!DOCTYPE html>
<html>
	<head>
			<title>project3motherfucker</title>
			<meta charset="utf-8">
		  <meta http-equiv="X-UA-Compatible" content="IE=edge">
		  <meta name="viewport" content="width=device-width, initial-scale=1">
		  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css">
		  <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		  <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
		  <link href='http://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
		  <%= stylesheet_link_tag    'application', media: 'all' %>
		  <%= javascript_include_tag 'application' %>
		  <%= csrf_meta_tags %>


	</head>
	<body>

		<%= render "shared/sidebar" %>


	<%= yield %>

		<!-- soundcloud -->
		<script src="//connect.soundcloud.com/sdk-2.0.0.js"></script>
		<!-- bootstrap js -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	</body>
</html>
